body{
    font-family: Verdana, Geneva, Tahoma, sans-serif}
.main{
display: inline-flex;
border: 10px solid darkgoldenrod;
flex-direction: column-reverse;


}
.item1{
    background-color: aqua;

}
.item2{
    background-color: aquamarine;

}
.item3{
    background-color: chocolate;
}
.item4{
    background-color: darkgreen;
}
.item5{
    background-color: fuchsia;
}
.item6{
    background-color: hotpink;
}
.item7{
    background-color: grey;
}
.item8{
    background-color: navy;
}